.image {
    width: 250px;
    border: 2px solid;
    border-radius: 175px;
    background-color: #0f0f0f;
}

.container {
    max-width: 540px;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    text-align: center;
    font-size: 30px;
    color: darkgray;
    line-height: 1.2;
}

.name {
    color: #0f0f0f;
    font-weight: 600;
}

.statsList {
    display: flex;
    text-align: center;
    border-top: 2px solid;
    border-color: darkgrey;
    width: 100%;
    background-color: lightgrey;
}

.statsItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.statsText {
    font-size: 25px;
    line-height: 1.5;
}


.statsBorder {
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: darkgray;
}